<div class="banner"><p class="banner-text" >Real Estate List</p></div>

<div class="container-flex small-container">
    <div class="row">
        <div class="col-3">
            <div class="card-group custom-card">
                <div class="card">
                  <img class="card-img-top img" src="./assets/rockhome-logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">ID</h5>
                     
                    <div class="card-text">
                        <p class="card-text">Type </p>
                        <p class="card-text">Building </p>
                        <p class="card-text">City Settelment </p>
                        <p class="card-text">Referent </p>
                        <p class="card-text">Target price </p>
                        <p class="card-text">Size </p>

                    </div>
                    <p class="card-text"><button type="submit" class="btn btn-primary custom-btn" link="/login">View</button>
                    </p>
                  </div>
                </div>
            
        </div>
        </div>

        <div class="col-3">
            <div class="card-group custom-card">
                <div class="card">
                  <img class="card-img-top img" src="./assets/rockhome-logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">ID</h5>
                     
                    <div class="card-text">
                        <p class="card-text">Type </p>
                        <p class="card-text">Building </p>
                        <p class="card-text">City Settelment </p>
                        <p class="card-text">Referent </p>
                        <p class="card-text">Target price </p>
                        <p class="card-text">Size </p>

                    </div>
                    <p class="card-text"><button type="submit" class="btn btn-primary custom-btn" link="/login">View</button>
                    </p>
                  </div>
                </div>
            
        </div>
        </div>

        <div class="col-3">
            <div class="card-group custom-card">
                <div class="card">
                  <img class="card-img-top img" src="./assets/rockhome-logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">ID</h5>
                     
                    <div class="card-text">
                        <p class="card-text">Type </p>
                        <p class="card-text">Building </p>
                        <p class="card-text">City Settelment </p>
                        <p class="card-text">Referent </p>
                        <p class="card-text">Target price </p>
                        <p class="card-text">Size </p>

                    </div>
                    <p class="card-text"><button type="submit" class="btn btn-primary custom-btn" link="/login">View</button>
                    </p>
                  </div>
                </div>
            
        </div>
        </div>

        <div class="col-3">
            <div class="card-group custom-card">
                <div class="card">
                  <img class="card-img-top img" src="./assets/rockhome-logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">ID</h5>
                     
                    <div class="card-text">
                        <p class="card-text">Type </p>
                        <p class="card-text">Building </p>
                        <p class="card-text">City Settelment </p>
                        <p class="card-text">Referent </p>
                        <p class="card-text">Target price </p>
                        <p class="card-text">Size </p>

                    </div>
                    <p class="card-text"><button type="submit" class="btn btn-primary custom-btn" link="/login">View</button>
                    </p>
                  </div>
                </div>
            
        </div>
        </div>

        <div class="col-3">
            <div class="card-group custom-card">
                <div class="card">
                  <img class="card-img-top img" src="./assets/rockhome-logo.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">ID</h5>
                     
                    <div class="card-text">
                        <p class="card-text">Type </p>
                        <p class="card-text">Building </p>
                        <p class="card-text">City Settelment </p>
                        <p class="card-text">Referent </p>
                        <p class="card-text">Target price </p>
                        <p class="card-text">Size </p>

                    </div>
                    <p class="card-text"><button type="submit" class="btn btn-primary custom-btn" link="/login">View</button>
                    </p>
                  </div>
                </div>
            
        </div>
        </div>

</div>